**/Makefile
**/Makefile.in
**/.libs
**/.deps
**/*.o
**/*.lo
**/*.la
**/m4
**/autom4te.cache
**/config.guess
**/config.log
**/config.status
**/config.sub
**/configure
**/.settings
**/aclocal.m4
**/libtool
**/install-sh
**/ltmain.sh
**/depcomp
**/exampleProgram
**/dumpdpp
**/dumpgroup
**/dumpmedia
**/dumpscene
**/gendpp
**/gengroup
**/genmakefile
**/genmedia
**/genppscript
**/genscene
**/gentables
