**/Makefile
**/Makefile.in
**/.libs
**/.deps
**/*.o
**/*.lo
**/*.la
**/*.dirstamp
**/m4
**/autom4te.cache
**/config.guess
**/config.log
**/config.status
**/config.sub
**/configure
**/.settings
**/aclocal.m4
**/libtool
**/install-sh
**/ltmain.sh
**/depcomp
**/exampleProgram
DigitalPlayprint/master/linux/dumpdpp/src/dumpdpp
DigitalPlayprint/master/linux/dumpgroup/src/dumpgroup
DigitalPlayprint/master/linux/dumpmedia/src/dumpmedia
DigitalPlayprint/master/linux/dumpscene/src/dumpscene
DigitalPlayprint/master/linux/gendpp/src/gendpp
DigitalPlayprint/master/linux/gengroup/src/gengroup
DigitalPlayprint/master/linux/genmakefile/src/genmakefile
DigitalPlayprint/master/linux/genmedia/src/genmedia
DigitalPlayprint/master/linux/genppscript/src/genppscript
DigitalPlayprint/master/linux/genscene/src/genscene
DigitalPlayprint/master/linux/gentables/src/gentables
